node_modules/**/*
node_modules
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
.DS_Store

android/.gradle/
android/.idea/
android/.kotlin/
android/build/

native/.gradle/
native/.kotlin/
native/build/
native/androidApp/build/
native/shared/build/
